<%= stylesheet_link_tag "about" %>

<div class="main about-main">
  <h2>射出成形に関することならなんでもOK</h2>
  <p>記事を書いて技術を共有し、レベルアップしましょう</p>
    <img class="about-img" src="about_image/seikei-image.jpg">
</div>
