<div class="main top-main">
    <div class="top-message"> 
    <h2>トップページ</h2>
  </div>
  <div class="github-link">
  <p>ソースコード→
  <%= link_to("https://github.com/sakamoto-yuji/syasyutu-seikei.com") do %>
   <img src="/github.jpeg"> 
  <% end %>
</div>
