<%= stylesheet_link_tag "posts" %>
<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.content, "/posts/#{post.id}") %>
        <div class="post-time">
         <%= l post.updated_at %>
       </div>
      </div>
    <% end %>
  </div>
</div>
