<div class="main posts-show">
  <div class="post-show-container">
    <div class="form-heading">投稿詳細</div>
    <%= render "shared/post", post: @post %>
    <!--post-menu-->
    <div class="post-menu"> 
    <% if @post.user.id == @current_user.id %>
      <%= link_to(edit_post_path(id: @post.id)) do %>
      <button type="button" class="btn btn-outline-info">
        編集
      </button>
    <% end %>
    <%= link_to(post_path(id: @post.id), method: :delete) do %>
      <button type="button" class="btn btn-outline-info">
        削除
      </button>
    <% end %>
    </div>
    <!--post-menu-->
    <% end %>
  </div>
</div>
