/* about ================================ */
.about-main {
    padding: 80px 390px;
    color: black;
  }
  
  .about-main h2 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
  }
  
  .about-main p {
    font-weight: 200;
    font-size: 20px;
  }
  
  .about-img {
    width: 700px;
    height: 500px;
  }
