/* users/index ================================ */

.main.users-index {
    text-align: -webkit-center;
}

.users-heading {
  font-weight: 300;
  margin: 92px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-container {
    width: fit-content;
}

.users-index-item {
  padding: 15px 15px;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 6px #c1ced7;
          box-shadow: 0 2px 6px #c1ced7;
  display: table;
  max-width: 400px;
}

.users-index-item #follow_form {
   position: absolute;
   right: 15px;
   top: 20px;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px #c1ced7;
          box-shadow: 0 2px 6px #c1ced7;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  font-size:17px;
  position: relative;
    top: -23px;
}

/* users/show ================================ */
.user-show {
  text-align: -webkit-center;
  left: 0;
  margin-top: 33px;
}

.user-show-container {
  margin-top: 42px;
}

.user {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.user-show-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px #c1ced7;
          box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-img{
  width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #c1ced7;
    -o-object-fit: cover;
    object-fit: cover;
}

.user h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 20px;
  margin-bottom: 15px;
}



.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.user-tabs {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 6px #c1ced7;
          box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li:focus {
  border-bottom: 2px solid var(--main-color);
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

.user-time {
  color: #8899a6;
  text-align: left;
}

.user-show-created_at {
   color: #8899a6;
}

.being-followed {
   font-size: 14px;
   background-color: lightgray;
   display: inherit;
}

/* users/new, users/edit ================================ */

.user-new-container {
    width: 608px;
    position: absolute;
    left: 29%;
}

.user-edit-container {
    width: fit-content;
    position: absolute;
    left: 31%;
}

.users-form input {
  margin-bottom: 15px;
  opacity: 0.8;
}

.users-form input:hover {
  opacity: 1;
}

/* user-login-form */

.user-login-container {
    width: 516px;
    position: absolute;
    left: 32%;
}

input#user_remember_me {
}

.remember-me label {
    margin-top: 16px;
}

/*user-likes*/

.user-likes-container {
    position: relative;
    top: 64px;
    width: 100%;
}
